DEPLOY_PREFIX=/apps/
DEPLOY_HOST=example.com
DEPLOY_USER=joeblow
DEPLOY_PATH=/var/www/example/apps/vue-vite-cesium-tailwind-mah

# openaip layer only gets added if not an empty string
VITE_OPENAIP_TOKEN=''