@layer vuetify-overrides {
  html,
  body,
  #app,
  .v-application {
    font-family: var(--font-body);
  }

  code, pre, .v-code {
    font-family: var(--font-mono);
  }

  .v-btn__overlay {
    opacity: 0 !important;
  }

  .splitpanes--horizontal > .splitpanes__splitter {
    height: 4px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: -20px 0;
    }
  }
}
